:root {
	--space: 5px;
}
#wrapper{
	display: flex;
	flex-flow: column;
	padding: var(--space);
	height: -webkit-fill-available;
}
#wheel-row, #wheels, #wheels>span{
	display: inline-flex;
}
#wheels input[type=button]{
	margin: 0;
}
#use-private-key{
	margin-left: 0;
}
#wheels>span>input{
	width: 100%;
}
#wheels>span{
	margin-right: var(--space);
}
#wheel-row label{
	white-space: nowrap;
}
textarea{
	resize: none;
	flex-grow: 1;
	margin-top: var(--space);
}