:root {
	--space: 5px;
}
#wrapper{
	display: flex;
	flex-flow: column;
	padding: var(--space);
	height: -webkit-fill-available;
}
#wheel-row, #wheels, #wheels>span{
	display: inline-flex;
}
#wheels>span>input{
	width: 100%;
}
#wheel-row label{
	white-space: nowrap;
}
textarea{
	resize: none;
	flex-grow: 1;
	margin-top: var(--space);
}